---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Overriding variable declared in "minima". For some reason in SCSS, the first declaration of variables overrides successive declarations.
$content-width:    100% !default;

@import "minima";

body {
  background: #f8f8f8;
}

* {
  box-sizing: border-box;
}

img.centered {
  display: block;
  margin: auto;
}

img.rounded {
  border-radius: 50%;
}

.site-header {
  background: white;
  border-top: 0px;
  border-bottom: 0px;
}

.site-title, .site-nav {
  line-height: $base-line-height * $base-font-size * 4;
}

.page-content {
  .wrapper {
    max-width: 900px;
  }
}

.post-title {
  text-align: center;
}

.portfolio {
  a {
    float: left;
    display: block;
    width: 33.3333%;

    img {
      width: 100%;
    }

    @include media-query($on-palm) {
      width: 100%;
    }
  }
}
