---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Overriding variable declared in "minima". For some reason in SCSS, the first declaration of variables overrides successive declarations.
$content-width:    100% !default;

@import "minima";

body {
  background: #f8f8f8;
  color: #313a44;
}

h1, h2, h3, h4, h5, .site-header {
  font-family: 'Comfortaa', 'Helvetica', 'Arial';
}

* {
  box-sizing: border-box;
}

a:hover {
  color: #f980ff;
  text-decoration: none;
}

a {
  color: #47bfe3;
  text-decoration: none;
}

.centered {
  display: block;
  margin: auto;
}

.full-width {
  display: block;
  width: 100%;
}

img.rounded {
  border-radius: 50%;
}

.site-header {
  background: white;
  border-top: 0px;
  border-bottom: 0px;
}

.site-title, .site-title-mobile, .site-nav {
    color: #0a2342 !important;
    line-height: $base-line-height * $base-font-size * 4;
}

.site-title {
  letter-spacing: 1px !important;
  img {
    height: 60px;
    padding: 0px 10px 5px 0px;
  }
}

@media (max-width: 400px) {
  .site-title {
    font-size: 18px;
    img {
      height: 40px;
      padding: 0px 8px 5px 0px;
    }
  }
}

.page-content {
  .wrapper {
    max-width: 900px;
  }
}

.post-title {
  text-align: center;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  a {
    overflow: hidden;
    background-size: 100% 100%;

    img {
      width: 100%;
      transition: all 0.3s;
    }

    &:hover img {
      transform: scale(1.2);
      opacity: 0.0;
    }
  }

  @include media-query($on-palm) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.portfolio-intro-text-container {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;

  p {
    text-align: center;
  }
}

.alison-screenshots-container {
  img {
    display: inline-block;
    width: 49%;
  }
}

.alison-screenshots-container2 {
  img {
    display: inline-block;
    width: 32%;
  }
}

.video-container {
  display: inline-block;
  overflow: hidden;

  video {
    width: 100%;
    margin-top: -10px;
    margin-bottom: -10px;
  }
}

#spin-video {
  max-width: 300px;
}

#laser-video {
  max-width: 515px;
}

.two-column-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-bottom: 20px;

  div {
    img {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  @include media-query($on-palm) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.three-column-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-bottom: 20px;

  @include media-query($on-palm) {
    grid-template-columns: repeat(1, 1fr);
  }
}
